<a href="https://colab.research.google.com/github/bcury/Python-Projects/blob/main/Advanced_Topics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Comprehension**

Forma normal de se fazer:

In [3]:
x = [1, 2, 3, 4, 5]
y = []

for i in x:
    y.append(i**2) #exemplo para que y seja os numeros ao quadradro, poderia ser outra condição

print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

Com o List Comprehension, temos:

In [4]:
x = [1, 2, 3, 4, 5]
y = [i**2 for i in x]

print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

outro exemplo

In [6]:
x = [1, 2, 3, 4, 5]
y = [i**2 for i in x]
z = [i for i in x if i%2 == 1] #só os numeros impar for de x

print(z)

[1, 3, 5]

**Enumerate**

In [14]:
lista = ['abacate', 'bola', 'gato']

for i in range(len(lista)):
  print(i, lista[i])

0 abacate
1 bola
2 gato

mas temos o Enumerate agora

In [15]:
lista = ['abacate', 'bola', 'gato']

for i, nome in enumerate(lista):
  print(i, nome)

0 abacate
1 bola
2 gato

**Filter**

In [20]:
def pares(i):
    if i % 2 == 0:
        return i
lista = [1,2,3,4,5,6,7,8,9,10]

lista_pares = filter(pares, lista)

print(list(lista_pares))

[2, 4, 6, 8, 10]

**Map**

In [27]:
def dobro(x):
    return x*2

valor = [1,2,3,4,5]
valor_dobrado = map(dobro, valor) #serve pra fazer a def acima funcionar corretamente em relação ao valor

for v in valor_dobrado:
    print(v)

2
4
6
8
10

In [30]:
#ou
def dobro(x):
    return x*2

valor = [1,2,3,4,5]
valor_dobrado = map(dobro, valor) #serve pra fazer a def acima funcionar corretamente em relação ao valor

valor_dobrado = list(valor_dobrado)
print(valor_dobrado)

[2, 4, 6, 8, 10]

**Reduce**

In [34]:
from functools import reduce
def soma(x, y):
    return x+y

lista = [1,3,5,10,20]

soma = reduce(soma, lista) #somou todos os numeros da lista um com outro
print(soma)

39

**Zip**

In [36]:
lista1 = [1,2,3,4,5]
lista2 = ['abacate','bola','gato','dinheiro','salgado']

for numero, nome in zip(lista1, lista2): #zipa todas as listas...poderia ter mais
    print(numero, nome)

1 abacate
2 bola
3 gato
4 dinheiro
5 salgado